<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @author.name %>
</p>

<p>
  <strong>Net worth:</strong>
  <%= @author.net_worth %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @author.dob %>
</p>

<%= link_to 'Edit', edit_author_path(@author) %> |
<%= link_to 'Back', authors_path %>
