<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @penguin.name %>
</p>

<p>
  <strong>Height:</strong>
  <%= @penguin.height %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @penguin.weight %>
</p>

<p>
  <strong>Color:</strong>
  <%= @penguin.color %>
</p>

<%= link_to 'Edit', edit_penguin_path(@penguin) %> |
<%= link_to 'Back', penguins_path %>
